.tracker-card,
.tracker-card .ratings {
  flex-direction: column;
}

.tracker-card {
  gap: 1em;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.tracker-card > div {
  border-bottom: 1px solid #88888849;
  padding: 0.5em 0;
}

.tracker-card > div:first-child {
  margin: -1em;
}

.tracker-card > div:last-child {
  border-bottom: none;
}

.tracker-card .tracker-header {
  background: rgba(0, 128, 128, 0.123);
  padding: 1em;
  margin: 0;
}

.tracker-card .title {
  font-size: 1.2rem;
}

.tracker-card .ratings {
  flex-direction: column;
}

/* .tracker-card .user {
} */

.stars {
  color: #fccc0d;
}
